* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar-dev-light {
    background-color: rgba(236, 240, 241, 0.5) !important;
}

.navbar-dev-dark {
    background-color: rgba(45, 52, 54, 0.5) !important;
}

.lang-light a {
    display: inline-block;
    color: black !important;
}

.lang-dark a {
    display: inline-block;
    color: white !important;
}

.logo-brand {
    margin-left: 1%;
}

.logo-img {
    width: 100%;
}

.logo-img img {
    width: 150px;
    margin-top: 70px;
}

.logo-text {
    font-family: 'Righteous', cursive;
    font-size:45px;
    color: white;
    text-align: center;
}

.rite-log-txt {
    font-family: 'Righteous', cursive;
    font-size:20px;
    color: white;
    text-align: center;
}

@keyframes filter {
    0% {
        filter: blur(0.5px) grayscale(0%);
        -webkit-filter: blur(0.5px) grayscale(0%);
    }

    50% {
        filter: blur(0.5px) grayscale(40%);
        -webkit-filter: blur(0.5px) grayscale(40%);
    }

    100% {
        filter: blur(1px) grayscale(80%);
        -webkit-filter: blur(1px) grayscale(80%);
    }

    to {
        filter: blur(1px) grayscale(80%);
        -webkit-filter: blur(1px) grayscale(80%);
    }
}

.filter:hover {
    animation: filter 0.5s forwards;
}

.hover-show {
    display: none;
}

.hover-show:hover {
    display: block;
}

.header {
    height: 100vh;
    background-image: url("../assets/background.png");
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
    width: 100%;
}

.staff-light {
    background-color: #ecf0f1;
    color: #2d3436;
    width: 100%;
}

.staff-dark {
    background-color: #2d3436;
    color: #ecf0f1;
    width: 100%;
}

.card-staff-light {
    background-color: white;
}

.card-staff-dark {
    background-color: #bdc3c7;
}

.staff-bg {
    margin-top: 10px;
}

.staff-name {
    padding-top: 5px;
}

.block-staff-white {
    border-bottom: 1px solid #34495e;
}

.col-centered {
  float: none;
  margin-right: auto;
  margin-left: auto;
}

.contact-us {
    height: 100vh;
    background-image: url("../assets/back.png");
    background-attachment: fixed;
    background-size: cover;
    padding-top: 1px;
    height: 600px;
    width: 100%;
    text-align: center;
}

.modal-light {
    background-color: #FFF !important;
    text-align: left !important;
}

.modal-dark {
    background-color: #2d3436 !important;
    color: #FFF !important;
    text-align: left !important;
}

.contact-btn {
    width: 90%;
    margin-left: 5%;
}

.idea {
    color: white;
}

.footer-light {
    background-color: #FFF !important;
}

.footer-dark {
    background-color: #2d3436 !important;
    color: #FFF !important;
}

.footer-dark a {
    color: #FFF !important;
}

footer a {
    color: black;
}

footer a:hover {
    color: #27ae60;
}

.rs img {
    margin-bottom: 3px !important;
}

@keyframes rs_filter {
    0% {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
    }

    50% {
        filter: grayscale(20%);
        -webkit-filter: grayscale(20%);
    }

    100% {
        filter: grayscale(40%);
        -webkit-filter: grayscale(40%);
    }

    to {
        filter: grayscale(40%);
        -webkit-filter: grayscale(40%);
    }
}

.rs img:hover {
    animation: rs_filter 0.5s forwards;
    cursor: pointer;
}

.rs-color img:hover {
    animation: rs_filter 0.5s forwards;
    cursor: pointer;
}

.games {
    height: 100vh;
    background-image: url("../assets/games-back.png");
    background-attachment: fixed;
    background-size: cover;
    padding-top: 1px;
    color: white;
    text-align: center;
    font-family: 'Righteous', cursive;  
    height: 350px;
    width: 100%;
}
.gamesslide {
    margin-top: 25px;
}

.gamesslide img {
    margin: 0px auto;
}
